<div class="centered">
    <form class="form-signin">
        <h2 class="form-signin-heading">Signup</h2>
    <input type="text" class="inputEmail" class="form-control"  placeholder="Email address" required autofocus ng-model="ctrl.credentials.email"></input><br />
    <input type="password" class="inputPassword" class="form-control"  placeholder="Password" required autofocus ng-model="ctrl.credentials.password"></input><br />
    <input type="password" class="inputPassword" class="form-control"  placeholder="Confirm" required autofocus ng-model="ctrl.credentials.confirm"></input><br /><br />
    <button class="btn btn-primary" ng-click="ctrl.signup(ctrl.credentials)">Register</button>
    <br />
    Already have a User? <a ng-click="ctrl.login()">Login here</a>
</div>